*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:sans-serif;
}

body{
  background:#f5f5f5;
  color:#222;
  transition:0.3s;
}

/* Navbar */
.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 50px;
  background:white;
  box-shadow:0 0 15px rgba(0,0,0,0.1);
}

.logo{
  color:#3a86ff;
}

.navbar ul{
  display:flex;
  gap:20px;
  list-style:none;
}

.navbar a{
  text-decoration:none;
  font-weight:bold;
  color:#222;
}

#themeBtn{
  padding:8px 15px;
  border:none;
  background:#3a86ff;
  color:white;
  border-radius:5px;
  cursor:pointer;
}

/* Hero */
.hero{
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:40px 60px;
}

.hero-text h1{
  font-size:45px;
}

.primary-btn{
  padding:10px 18px;
  background:#3a86ff;
  color:white;
  border:none;
  border-radius:6px;
  margin-top:10px;
}

.hero-img{
  width:450px;
  border-radius:15px;
}

/* Sections */
section{
  padding:60px;
  text-align:center;
}

.cards{
  display:grid;
  grid-template-columns:repeat(3, 1fr);
  gap:20px;
  margin-top:20px;
}

.card{
  background:white;
  padding:15px;
  border-radius:10px;
  box-shadow:0 0 15px rgba(0,0,0,0.1);
}

.card img{
  width:100%;
  border-radius:10px;
}

/* Contact */
form{
  display:flex;
  flex-direction:column;
  width:400px;
  margin:auto;
  gap:10px;
}

input, textarea{
  padding:10px;
  border-radius:8px;
  border:1px solid #aaa;
}

button{
  padding:10px;
  background:#3a86ff;
  color:white;
  border:none;
  border-radius:8px;
}

footer{
  padding:20px;
  background:#111;
  color:white;
  text-align:center;
}

/* Responsive */
@media(max-width:900px){
  .hero{
    flex-direction:column;
    text-align:center;
  }

  .cards{
    grid-template-columns:1fr;
  }
}

/* Dark Mode */
.dark{
  background:#111;
  color:white;
}

.dark .navbar{
  background:#222;
}

.dark .card{
  background:#222;
}